#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "Dillon Mulroy"
email = "dillon.mulroy@gmail.com"

[ui]
editor = "nvim"


[signing]
# Only sign commits authored by you
behavior = "own"
# Use SSH keys for commit signing
backend = "ssh"
key = "~/.ssh/key.pub"

[git]
sign-on-push = true

[aliases]
bm = ["bookmark"]
gf = ["git", "fetch"]
gp = ["git", "push"]

[revset-aliases]
# Find commits authored by you
'mine()' = 'author(dmmulroy)'

# Work-specific overrides for repos in ~/Code/work
[[--scope]]
--when.repositories = ["~/Code/work"]

[--scope.user]
email = "dillon@cloudflare.com"
